<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.dao.GroupDao">
    <select id="findById" parameterType="Integer" resultType="com.itheima.domain.Group">
        select * from t_group where id=#{id}
    </select>
<select id="list" resultType="com.itheima.domain.Group">
    select * from t_group
</select>
    <delete id="del" parameterType="Integer">
        delete from t_group where id=#{id}
    </delete>

    <insert id="add" parameterType="map">
        insert into t_group values(#{id},#{name},#{birth},#{deptId})
    </insert>
</mapper>