<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.dao.UserDao">
    <select id="query" resultType="com.itheima.domain.User" parameterType="com.itheima.domain.User">
        select * from user where name=#{name} and pwd=#{pwd}
    </select>
    <insert id="add" parameterType="com.itheima.domain.User">
        insert into user values(#{id},#{name},#{pwd})
    </insert>
    <update id="change" parameterType="com.itheima.domain.User">
        update user set pwd=#{pwd} where name=#{name}
    </update>

</mapper>